@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
		url(OpenSans-CondLight.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	src: local('Open Sans Condensed Bold'), local('OpenSans-CondBold'),
		url(OpenSans-CondBold.ttf) format('truetype');
	font-weight: 700;
}