@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	src: local('Raleway Thin'), local('Raleway-Thin'), url(Raleway-Thin.ttf)
		format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
		url(Raleway-ExtraLight.ttf) format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src: local('Raleway Light'), local('Raleway-Light'),
		url(Raleway-Light.ttf) format('truetype');
}